.footer {
	position: relative;
	border-top: 2px solid $gray;
	z-index: 9;
	&__container {
	}

	&__body {
		display: flex;
		justify-content: space-between;
	}

	&__block {
		display: flex;
		align-items: center;
	}

	&__logo {
		display: flex;
		align-items: center;
		margin: 47px 0px;
	}

	&__logo-image {
		height: 56px;
		width: 56px;
		background: url(/img/footer-logo.svg);
		margin-right: 10px;
	}

	&__logo-text {
		font-weight: 800;
		font-size: 18px;
		line-height: 100%;
		text-transform: uppercase;
	}

	&__confidentiality {
		font-weight: 400;
		font-size: 14px;
		line-height: 100%;
		margin-right: 463px;
	}

	&__date {
		font-weight: 400;
		font-size: 14px;
		line-height: 100%;
	}
}

