@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	a {
		text-decoration: none;
		color: $text;
	}
	li {
		list-style: none;
	}
}


body {
	overflow-x: hidden;
	background: $black;
	font-family: 'Manrope', sans-serif;
	font-size: 18px;
	color: $text;
	position: relative;
	&::-webkit-scrollbar {
		width: 0;
	}
}

._container {
	max-width: 1326px;
	margin: 0 auto;
}

.line-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 17%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	z-index: 4;
}

svg {
	display: inline-block;
	height: 100%;
}

.main {
	position: relative;
	&__container {
	}

	&__body {
		position: relative;
		display: flex;
		justify-content: flex-end;
	}

	&__content {
		width: 84.5%;
		display: flex;
		flex-direction: column;
		border-left: 2px solid $gray;
	}

	&__block {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__block-under {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 150px;
	}

	&__heading {
		display: flex;
		flex-direction: column;
		font-weight: 400;
		font-size: 59px;
		line-height: 100%;
		text-transform: uppercase;
		margin-left: 20px;
		margin-bottom: 80px;
		margin-top: 162px;
		span:nth-child(1) {
			margin-left: 205px;
		}
	}

	&__num {
		position: absolute;
		bottom: 80px;
		right: 0;
		font-weight: 400;
		font-size: 18px;
	}

	&__text {
		max-width: 205px;
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		color: $gray;
		margin-left: 20px;
	}

	&__map {
		width: 653px;
		height: 292px;
		background: url(/img/main-map.jpg);
	}

	&__arrow-wrapper {
		height: 110px;
		width: 110px;
		background: $text;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: 150px;
		left: 58px;
		cursor: pointer;
		z-index: 5;
		transition: all 0.2s;
	}

	&__arrow {
		background: url(/img/main-arrow.svg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 60px;
		width: 60px;
	}
}


.menu-line {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $black;
	height: 15.4%;
	z-index: 99;
}
.line-one {
	top: 15.7%;	
	transform: translateX(-100%);
}
.line-two {
	top: 31.1%;	
	transform: translateX(100%);
}
.line-three {
	top: 46.5%;	
	transform: translateX(-100%);
}
.line-four {
	top: 61.5%;	
	transform: translateX(100%);
}
.line-five {
	top: 76.9%;
	transform: translateX(-100%);	
}
