.monitoring {
	position: relative;
	&__container {

	}

	&__body {
		display: flex;
		justify-content: flex-end;
	}

	&__content {
		width: 84.5%;
		border-top: 2px solid $gray;
		border-left: 2px solid $gray;
	}

	&__block {
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	&__block-map {
		display: flex;
		flex-direction: column;
		position: relative;
		border: 2px solid $gray;
		margin-left: 20px;
		overflow: hidden;
		margin-bottom: 150px;
	}

	&__heading {
		font-weight: 400;
		font-size: 59px;
		line-height: 100%;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		margin-left: 20px;
		margin-top: 40px;
		margin-bottom: 80px;
		span:nth-child(1) {
			margin-left: 205px;
		}
	}

	&__num {
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		position: absolute;
		bottom: 80px;
		right: 0;
	}

	&__map {
		width: 1102px;
		height: 476px;
		background: url(/img/monitoring-map.jpg);
		margin-bottom: 18px;
		border-bottom: 2px solid $gray;
	}

	&__item-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__item {
		display: flex;
	}

	&__list {
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		margin-left: 20px;
		li {
			margin-bottom: 30px;
			width: 205px;
			display: flex;
			justify-content: space-between;
			&:last-child {
				margin-bottom: 20px;
			}
			
		}
	}

	&__arrow {
		width: 20px;
		height: 20px;
		border-radius: 50%;
	}

	&__firts-arrow {
		background: url(/img/monitoring-arrow01.svg);
	}

	&__second-arrow {
		background: url(/img/monitoring-arrow02.svg);
	}

	&__btn {
		width: 69px;
		height: 69px;
		border-radius: 50%;
		background: $text;
		margin-right: 20px;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	&__btnOne {
		height: 20px;
		width: 35px;
		background: url(/img/monitoring-btn01.svg);
		background-repeat: no-repeat;
	}

	&__btnTwo {
		height: 32px;
		width: 32px;
		background: url(/img/monitoring-btn02.svg);
		background-repeat: no-repeat;
	}
}